.pagina{
	background-color: rgb(56, 54, 54);
}
/*//////////MENU//////////*/
.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: rgb(64, 166, 235);
    position: fixed;
    top: 0;
	width: 100%;
}
.titolo_menu{
	float:left;
	display:center;
	color: rgb(228, 228, 228);
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
}
.aggiornamento_menu{
	float: right;
	display:center;
	text-align:center;
	padding: 10px 20px;
	text-decoration: none;
}
.collegamento_menu{
    float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 20px 10px;
	text-decoration: none;
	cursor: pointer;
}
.collegamento_menu:hover{
	background-color: rgb(45, 128, 177);
}
.login_menu{
    float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 20px 10px;
	text-decoration: none;
	cursor: pointer;
}
.login_menu:hover{
	background-color: rgb(45, 128, 177);
}
/*//////////HOME//////////*/
.box_totale_casi{
	text-align: center;
	background-color: rgb(70, 159, 175);
	height: 150px;
	width: 18%;
	float: left;
	margin: 0;
}
.box_totale_casi:hover {
	opacity: 0.9;
  }
.box_guariti{
	text-align: center;
	background-color: rgb(91, 214, 98);
	height: 150px;
	width: 18%;
	float: left;
	margin: 0;
}
.box_guariti:hover {
	opacity: 0.9;
  }
.box_deceduti{
	text-align: center;
	background-color: rgb(179, 40, 40);
	height: 150px;
	width: 18%;
	float: left;
	margin: 0;
}
.box_deceduti:hover {
	opacity: 0.9;
  }
.box_mortalita{
	text-align: center;
	background-color: rgb(172, 79, 156);
	height: 150px;
	width: 18%;
	float: left;
	margin: 0;
}
.box_mortalita:hover {
	opacity: 0.9;
  }
.box_attualmente_positivi{
	text-align: center;
	background-color: rgb(219, 217, 85);
	height: 150px;
	width: 18%;
	float: left;
	margin: 0;
}
.box_attualmente_positivi:hover {
	opacity: 0.9;
  }
.grafico_regioni{
	height: 80%;
	width: 33%;
	text-align: center;
	float: left;
}
.grafico_totale_casi{
	text-align: center;
	float: left;
	height: 35%;
	width: 30%;
}
.grafico_comparativo{
	text-align: center;
	float: left;
	height: 35%;
	width: 30%;
}
.grafico_nuovi_positivi{
	text-align: center;
	float: left;
	height: 35%;
	width: 30%;
}
.grafico_tamponi{
	text-align: center;
	float: left;
	height: 35%;
	width: 30%;
}
.grafico_torta{
	text-align: center;
	float: left;
	height: 35%;
	width: 30%;
}
.grafico_colonne{
	text-align: center;
	float: left;
	height: 35%;
	width: 30%;
}

/*//////////ANDAMENTO_REGIONALE//////////*/
.menu_regioni{
	width: 10%;
	height: 100%;
	background-color: rgb(61, 61, 61);
	list-style-type:none;
	margin: 0;
	float: left;
	padding: 0;
}
.menu_regioni a {
	background-color: rgb(61, 61, 61);
	color: rgb(182, 182, 182);
	display: block;
	padding: 12px;
	text-decoration: none;
}
.menu_regioni a:hover {
	background-color: rgba(204, 204, 204, 0.568);
	opacity: 0.9;
	color: rgb(255, 255, 255);
}
.titolo{
	text-align: left;
	color: white;
	text-align: center;
}

/*//////////LOGIN//////////*/
/* Bordered form */
form {
	border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password], input[type=date], input[type=number], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
	background-color: rgb(64, 166, 235);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
	opacity: 0.8;
  }
  .menu_modifica_admin {
	background-color: rgb(19, 68, 114);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 33%;
  }
  
  /* Add a hover effect for buttons */
  .menu_modifica_admin:hover {
	opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
  }
  
  /* Add padding to containers */
  .container {
	padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
	float: right;
	padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
	span.psw {
	  display: block;
	  float: none;
	}
	.cancelbtn {
	  width: 100%;
	}
  }
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 5px auto; /* 15% from the top and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	/* Position it in the top right corner outside of the modal */
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
	color: red;
	cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
  }

  .table_dark {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 15px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	background: rgb(56, 54, 54);
	margin: 10px;
  }
  .table_dark th {
	color: rgb(135, 182, 189);
	border-bottom: 1px solid rgb(163, 163, 163);
	padding: 15px 17px;
	text-align: center;
  }
  .table_dark td {
	color: rgb(201, 201, 201);
	border-bottom:1px solid rgb(163, 163, 163);
	padding: 10px 17px;
	text-align: center;
  }
  .table_dark caption {
	padding: 15px;
	color: white;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
  }
  .table_dark tr:hover td {
	background: rgb(49, 47, 47);
	color: rgb(255, 255, 255);
  }

  .tabella_div{
	text-align: left;
	float: left;
	height: 35%;
	width: 30%;
  }

  .table_dark2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	width: 100%;
	height: 30%;
	text-align: left;
	border-collapse: collapse;
	background: rgb(56, 54, 54);
  }
  .table_dark2 th {
	color: rgb(135, 182, 189);
	border-bottom: 1px solid rgb(163, 163, 163);
	text-align: center;
  }
  .table_dark2 td {
	color: rgb(128, 128, 128);
	border-bottom:1px solid rgb(163, 163, 163);
	text-align: center;
  }
  .table_dark2 caption {
	color: white;
	text-align: center;
	font-weight: bold;
  }